.screen {
    height: 100%;
    width: 1024px;
    margin: 0 auto;
}

.inner-screen {
    position: fixed;
    max-height: calc(100vh - 170px);
    overflow-y: scroll;
    bottom: 80px;
    scroll-behavior: smooth;
    width: 1024px;
}

.inner-screen::-webkit-scrollbar {
    display: none;
}

.chat-input {
    position: fixed;
    bottom: 20px;
    width: 1024px;
}

.chat-text {
    background-color: #4c4c4c;
    color: #ffffff;
}

@media screen and (min-width:1024px) and (max-width: 1370px) {
    .screen, .inner-screen, .chat-input {
        width: 800px;
    }
}

@media screen and (min-width:800px) and (max-width: 1024px) {
    .screen, .inner-screen, .chat-input {
        width: 600px;
    }
}

@media screen and (min-width:0px) and (max-width: 800px) {
    .screen, .inner-screen, .chat-input {
        width: 400px;
    }
}